<!DOCTYPE html>
{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Facebook Home</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="row" style="border: 1px solid;">
	<div class="col-md-6 col-xs-4 col-lg-1" style="border:10px;border-color: blue;width:150px;height:50px;margin-left:2px;margin-top:20px;">
		<a href="#">Testing Link</a>
	</div>
	<div class="col-md-4 col-xs-4 col-lg-1" style="border:10px;border-color: blue;width:150px;height:50px;margin-left:2px;margin-top:20px;">
		<a href="#">Testing Link</a>
	</div>
	<div class="col-md-4 col-xs-4 col-lg-1" style="border:10px;border-color: blue;width:150px;height:50px;margin-left:2px;margin-top:20px;">
		<a href="#">Testing Link</a>
	</div>
	
	
</div>
</body>
</html>